<suite name = "Registration of User">
	<test name = "Yahoo Registration">
		<classes>
			<class name = "dataProviders_SeperateClass.YahooRegistration"></class>
		</classes>
		
	</test>
	
	<test name = "Gmail Registration">
	 	<classes>
	 		<class name = "dataProviders_SeperateClass.GmailRegistration"></class>
	 	</classes>
	</test>
</suite>